<ion-header>
  <ion-toolbar>
    <ion-title>Voter List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let voter of voters" (click)="openVoterDetail(voter)">
      <ion-thumbnail slot="start">
        <img [src]="voter.picture.thumbnail" alt="Voter Thumbnail">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ voter.name.first }} {{ voter.name.last }}</h2>
        <p>Date of Birth: {{ voter.dob.date | date: 'mediumDate' }}</p>
        <p>City: {{ voter.location.city }}, ZIP: {{ voter.location.postcode }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addToFavorites(voter)" color="primary">
          Add to Favorites
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>